@charset "UTF-8";

#chart {
    height: 510px;
}

.funcbar .hide {
    display: none;
}

.hint, .hint > .popover-content {
    background-color: #f2dede !important;
}

.hint > .arrow:after {
    border-right-color: #f2dede !important;
}

.tag {
    font-size: 60%;
    padding: 2px 4px;
    margin: 2px;
}

[aria-level="1"] > a > .jstree-checkbox,
[aria-level="2"] > a > .jstree-checkbox {
    display: none;
}