@charset "UTF-8";
.header{
    height: 100px;
    min-width: 1104px;
    margin: 5px 30px;
    background: url("../imgs/logo.png") no-repeat;
}
.header h1{
    margin: 0 120px;
    line-height: 100px;
    font-family: '微软雅黑', '黑体', arial, sans-serif;
}

.content{
    min-width: 1024px;
    margin: 0 40px;
}

.left-side{
    float: left;
    width: 30%;
}

.right-side{
    float: right;
    width: 70%;
}

/* left-top */
.unit-wrapper {
    padding: 10px 3px 2px 2px;
    background-color: #337ab6;
    margin: 12px 5px;
    border-radius: 15px 15px 4px 4px;
}

.unit-title{
    color: white;
    font-size: 150%;
    line-height: 30px;
    text-align: center;
}

.unit-content{
    min-height: 240px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

[aria-level="1"] > a > .jstree-checkbox,
[aria-level="2"] > a > .jstree-checkbox {
    display: none;
}

/* left-bottom */
.tag {
    font-size: 60%;
    padding: 2px 4px;
    margin: 2px;
}

/* left */
.hint, .hint .popover-content {
    background-color: #f2dede !important;
    white-space:nowrap;
}

.hint .arrow:after {
    border-right-color: #f2dede !important;
}


/* right-top */
.funcbar-wrapper{
    background-color: #337ab6;
    padding: 20px 0 2px;
    border-radius: 15px 15px 2px 2px;
    margin-top: 12px;
}

.funcbar-wrapper .nav{
    background-color: #337ab6;
    padding: 0 20px;
}

.nav-tabs>li>a{
    background-color: #efefef;
}

#funcbar {
    height: 58px;
    padding: 0 40px;
    background-color: white;
    margin: 0 2px;
}

#funcbar button {
    margin-top: 12px;
}

.funcbar {
    padding-top: 18px;
}

.funcbar.right {
    text-align: right;
}

/* right-bottom */

#chart {
    height: 464px;
}
