@charset "UTF-8";
.header {
    height: 100px;
    min-width: 1104px;
    margin: 5px 40px;
    position: relative;
    background: url("../imgs/logo.png") no-repeat;
}

.header h1 {
    margin: 0 0 0 120px;
    line-height: 100px;
    width: 550px;
    font-family: '微软雅黑', '黑体', arial, sans-serif;
    float: left;
}

.header a {
    margin: 66px 0 0 20px;
    width: 100px;
    float: right;
}

.change-pass.success{
    color: #3c763d;
}

.change-pass.fail{
    color: #a94442;
}

.content {
    min-width: 1104px;
    margin: 0 40px;
}

.left-side {
    float: left;
    width: 30%;
}

.left-side label {
    white-space: nowrap;
}

.right-side {
    float: right;
    width: 70%;
}

/* left-top */
.unit-wrapper {
    padding: 10px 3px 2px 2px;
    background-color: #337ab6;
    margin: 12px 5px;
    border-radius: 15px 15px 4px 4px;
}

.left-side form {
    margin: 0 5px;
}

.unit-title {
    color: white;
    font-size: 150%;
    line-height: 30px;
    text-align: center;
    position: relative;
}

.unit-content {
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

#unit-deselect {
    position: absolute;
    right: 20px;
}

/* left-bottom */
.tag {
    padding: 4px 8px;
    margin: 5px;
}

/* left */
.hint, .hint .popover-content {
    background-color: #f2dede !important;
    white-space: nowrap;
}

.hint .arrow:after {
    border-right-color: #f2dede !important;
}

/* right-top */
.funcbar-wrapper {
    background-color: #337ab6;
    padding: 20px 0 2px;
    border-radius: 15px 15px 2px 2px;
    margin-top: 12px;
}

.funcbar-wrapper .nav {
    background-color: #337ab6;
    padding: 0 20px;
}

.nav-tabs > li > a {
    background-color: #efefef;
}

#funcbar {
    height: 58px;
    padding: 0 20px;
    background-color: white;
    margin: 0 2px;
}

#funcbar button {
    margin-top: 12px;
}

.funcbar.left div {
    padding-top: 10px;
}

.funcbar.right {
    padding-top: 18px;
    text-align: right;
}

/* right-bottom */

#chart {
    background-color: white;
    margin: 0 2px;
    padding: 5px;
}
